@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');


/*-------------------------General*/

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }


.row {
    margin-bottom: 0;
}

.material-icons {
    color: #990000;
}

.margin-bottom {
    margin-bottom: 150px;
}

.submit-button:hover {
    background-color: #ff9900;
}

li {
    text-align: left;
}

.bold {
    font-weight: 700;
}

hr {
    border-top: 0.5px solid #d27979;
}

h1 {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 70px;
    text-align: center;   
}

h2 {
    font-size: 50px;
    color: white;
    padding: 30px;
    font-family: 'Amatic SC', cursive;
}

h3 {
    font-size: 25px;
    color: #ff9900;
    padding: 5px;
    font-family: 'Amatic SC', cursive;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.btn:focus {
    outline: none;
    background-color: #993333;
}

.page-heading {
    padding: 100px;
    background: radial-gradient(rgba(0,0,0,0.5), transparent);
}

.red-color {
    color: #990000;
}


/*-------------------------Nav bar*/

nav {
    background-color: #993333;
}


nav ul li {
    min-width: 20%;
    font-family: 'Amatic SC', cursive;
    
}

nav ul a {
    font-weight: 300;
    font-size: 22px;
}

ul.navbar-padding-left {
    padding-left: 30%;
}

a.sidenav-trigger {
    float: right;
}    

a.brand-logo {
    padding-left: 15px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: 400;
}    

.sidenav-overlay {
    z-index: 996;
}

.sidenav.right-aligned {
    padding-top: 30px;
}  

.sidenav li>a {
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
}

.menu-icon {
    color: white;
}

/*-------------------------Base*/

.flashes {
    max-width: 60%;
}

h4 {
    font-size: 28px;
    font-family: 'Amatic SC', cursive;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 200;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    border: 1px solid #993333;
    border-radius: 40px;
}


/*-------------------------Modal*/

.darker {
    color: black;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    padding: 10px;
}

.modal .modal-footer {
    text-align: center;
}

.modal-close {
    padding: 0px 150px;
}

.modal-close.btn-flat:hover {
    background-color: rgba(210, 121, 121, 0.5);
}

/*-------------------------Footer*/

.page-footer {
    padding-top: 0px;
    color: #fff;
    background-color:  #d27979;
}

/*-------------------------Index*/

.hero-image {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -55px;
}

.hero-text {
    color: white;
    font-family: 'Amatic SC', cursive;
    text-shadow: 2px 2px 5px lightcoral;
}


.index-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/citrus.jpg')
}

div.card-image img{
    max-height: 250px;
    min-height: 250px;
    overflow: hidden;
    object-fit: cover;
}

/*-------------------------Log in/Sign up*/

.form-card-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-card {
    min-width: 70%;
}

.submit-button {
    background-color: #d27979;
    margin-top: 10px;
}

.log-in-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/bread.jpg');
    margin-bottom: 40px;
}

.sign-up-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/paprika.jpg');
    margin-bottom: 40px;
}

/*-------------------------Profile*/

.submit-button.profile-button {
    background-color: #fff;
    color: #d27979;
    padding-right: 50px;
    padding-left: 50px;
    webkit-box-shadow: none;
    box-shadow: none;
}


.submit-button.profile-button:hover{
    webkit-box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
}

.profile-card {
    margin: 30px;
}

.profile-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/market.jpg');
    margin-bottom: 40px;
}

/*-------------------------Week Menu Shuffle*/


input#country {
    max-width: max-content;
}

.shuffle-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/basic.jpg');
    margin-bottom: 40px;
}

.shuffle-text {
    max-width: 60%;
    margin: auto;
    padding-bottom: 20px;
}

/*-------------------------add Recipe.html*/

.description-field {
    height: 400px;
}

.add-recipe-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/veggie.jpg');
    margin-bottom: 60px;
}

.add-recipe {
    padding-bottom: 40px;
}


/*-------------------------recipe.html*/

h2.center {
    margin: 0;
}

div#ingredients,
div#description {
    min-height: 100px;
}

.card-image-recipe-page {
    height: max-content;
}

.recipe-card {
    max-width: 80%;
    margin: auto;
}

div.card-content.grey.lighten-4 {
    overflow: scroll;
}

.enjoy {
    margin-top: 550px;
}

.edit-delete-card {
    margin-top: 50px;
}

.recipe-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/fruit.jpg');
    margin-bottom: 60px;
}

/*-------------------------Recipes*/

.recipes-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/pepper.jpg');
    margin-bottom: 20px;
}

.search-input{
    max-width: 90%;
    margin: auto;
    padding-bottom: 10px;
}

.search-card {
    max-width: 70%;
    padding-bottom: 50px;
    margin: auto;
    margin-bottom: 50px;
}

.search-button {
    min-width: 125px;
    margin: 5px;
}

/*-------------------------Media Query*/

@media only screen and (min-width: 768px) {
    .recipe-card {
        max-width: 70%;
    }
    .enjoy {
    margin-top: 400px;
    }
    h4 {
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
    }
    
}

@media only screen and (min-width: 992px) {
    .recipe-card {
        max-width: 60%;
    }
    .enjoy {
    margin-top: 300px;
    }
    div.form-card-parent {
        max-width: 70%;
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    .icon-profile {
        visibility: hidden;
        display: none;
    }
    
}



