@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');


/*-------------------------General*/

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }


.row {
    margin-bottom: 0;
}

.material-icons {
    color: #990000;
}

.margin-bottom {
    margin-bottom: 150px;
}

button.submit-button:hover {
    background-color: #ff9900;
}

li {
    text-align: left;
}

.bold {
    font-weight: 700;
}

hr {
    border-top: 0.5px solid #d27979;
}

h1 {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 70px;
    text-align: center;   
}

h2 {
    font-size: 50px;
    color: #990000;
    padding: 30px;
    font-family: 'Amatic SC', cursive;
}

h3 {
    font-size: 25px;
    color: #ff9900;
    padding: 5px;
    font-family: 'Amatic SC', cursive;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/*-------------------------Nav bar*/

nav {
    background-color: #993333;
}


nav ul li {
    min-width: 25%;
    font-family: 'Amatic SC', cursive;
    
}

nav ul a {
    font-weight: 300;
    font-size: 22px;
}

ul.navbar-padding-left {
    padding-left: 30%;
}

a.sidenav-trigger {
    float: right;
}    

a.brand-logo {
    padding-left: 15px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: 400;
}    

.sidenav-overlay {
    z-index: 996;
}

.sidenav.right-aligned {
    padding-top: 30px;
}  

.sidenav li>a {
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
}

.menu-icon {
    color: white;
}

/*-------------------------Base*/

.flashes {
    line-height: 2;
}

/*-------------------------Footer*/

.page-footer {
    padding-top: 0px;
    color: #fff;
    background-color:  #d27979;
}

/*-------------------------Index*/

.hero-image {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -55px;
}

.hero-text {
    color: white;
    font-family: 'Amatic SC', cursive;
    text-shadow: 2px 2px 5px lightcoral;
}


.index-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/citrus.jpg')
}

div.card-image img{
    max-height: 250px;
    min-height: 250px;
    overflow: hidden;
    object-fit: cover;
}

/*-------------------------Log in/Sign up*/

.form-card-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-card {
    min-width: 70%;
}

.submit-button {
    background-color: #d27979;
}


/*-------------------------Week Menu Shuffle*/


input#country {
    max-width: max-content;
}

/*-------------------------Recipes.html*/




/*-------------------------Recipy.html*/

h2.center {
    margin: 0;
}

div#ingredients,
div#description {
    min-height: 100px;
}

.card-image-recipy-page {
    height: max-content;
}

.recipy-card {
    max-width: 80%;
    margin: auto;
}

div.card-content.grey.lighten-4 {
    overflow: scroll;
}

.enjoy {
    margin-top: 550px;
}

/*-------------------------Media Query*/

@media only screen and (min-width: 768px) {
    .recipy-card {
        max-width: 70%;
    }
    .enjoy {
    margin-top: 400px;
    }
    
}

@media only screen and (min-width: 992px) {
    .recipy-card {
        max-width: 60%;
    }
    .enjoy {
    margin-top: 300px;
    }
    div.form-card-parent {
        max-width: 70%;
        margin: auto;
    }
}