{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/css/countrySelect.css') }}">
{% endblock %}

{% block content %}

<div class="hero-image add-recipe-image">
    <div ></div>
        <h2 class="page-heading center">{{ page_title }}</h2>
    </div>
<div>
<div class="row container add-recipe">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe' )}}">
        <div class="row">
            <div class="input-field col s6">
                <input id="recipe_name" name="recipe_name" type="text" pattern="^[a-zA-Z ]{3,20}$" class="validate" required>
                <label for="recipe_name">recipe Name</label>
            </div>
            <div class="input-field col s6">
                <input id="time" type="text" name="time" class="validate">
                <label for="time">Prep Time in minutes</label>
            </div>
        </div>
        <div class="row center">
            <input type="text" id="country" name="country">
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="ingredients" type="text" name="ingredients" class="validate" required>
                <label for="ingredients">Ingredients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" type="text" name="description" class="validate materialize-textarea" required></textarea>
                <label for="description">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="url" type="text" name="url" class="validate" required>
                <label for="url">Image url</label>
            </div>
        </div>
        <button type="submit" name="add_recipe" class="waves-effect waves-light btn submit-button center">Add
            recipe</button>
    </form>
</div>

{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='build/js/countrySelect.js') }}"></script>
<script>
    $("#country").countrySelect();
  </script>
{% endblock %}