<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Eating the World</title>
</head>
<body>
    <header>
        <div class="navbar-fixed row">
            <nav>
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">Eating the World</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="navbar-padding-left hide-on-med-and-down">
                        <li><a href="sass.html">Recipes</a></li>
                        <li><a href="badges.html">Week Menu Shuffle</a></li>
                        {% if session.user %}
                        <li><a href="mobile.html">My Profile</a></li>
                        <li><a href="mobile.html">Add Recipy</a></li>
                        <li><a href="mobile.html">Log Out</a></li> 
                        {% else %}
                        <li><a href="collapsible.html">Log In/Sign Up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            <ul class="sidenav" id="mobile-demo">
                <li><a href="sass.html">Recipes</a></li>
                <li><a href="badges.html">Week Menu Shuffle</a></li>
                {% if session.user %}
                <li><a href="mobile.html">My Profile</a></li>
                <li><a href="mobile.html">Add Recipy</a></li>
                <li><a href="mobile.html">Log Out</a></li>
                {% else %}
                <li><a href="collapsible.html">Log In/Sign Up</a></li>
                {% endif %}
            </ul>

        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2021 Copyright Eating the World
            <a class="grey-text text-lighten-4 right" href="#!">Contact</a>
            </div>
          </div>
        </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
    
    </html>