<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block link %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Eating the World</title>
</head>
<body>
    <!--Navbar-->
    <header>
        <div class="navbar-fixed row">
            <nav>
                <div class="nav-wrapper">
                    <a href="{{ url_for('index') }}" class="brand-logo">Eating the World</a>
                    <a href="{{ url_for('index') }}" data-target="mobile" class="sidenav-trigger"><i class="material-icons menu-icon">menu</i></a>
                    <ul class="navbar-padding-left hide-on-med-and-down">
                        <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                        <li><a href="{{ url_for('week_menu_shuffle') }}">Week Menu Shuffle</a></li>
                        {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">My Profile</a></li>
                        <li><a href="{{ url_for('add_recipe') }}">Add recipe</a></li>
                        <li><a href="{{ url_for('log_out') }}">Log Out</a></li> 
                        {% else %}
                        <li><a href="{{ url_for('log_in') }}">Log In</a></li>
                        <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <!--Navbar mobile-->
            <ul class="sidenav" id="mobile">
                <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                <li><a href="{{ url_for('week_menu_shuffle') }}">Week Menu Shuffle</a></li>
                {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">My Profile</a></li>
                <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                <li><a href="{{ url_for('log_out') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('log_in') }}">Log In/Sign Up</a></li>
                {% endif %}
            </ul>

        </div>
    </header>
    <!--Header Image-->
    <section>
        {% block image %}
        {% endblock %}
    </section>
    <!--Flash messages-->
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages%}
                    <div class="row flashes">
                        <h4 class="center">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <!--Main content block-->
    <main>
        <br class="margin-bottom">
        {% block content %}
        {% endblock %}
    </main>
    <!--Footer-->
    <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2021 Copyright Eating the World
            <a class="grey-text text-lighten-4 right" href="#!">Contact</a>
            </div>
          </div>
        </footer>
    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   {% block script %}
   {% endblock %}
   <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>