{% extends "base.html" %}
<!--Form to edit password-->
{% block content %}
<div class="col s12 m7">
    <h2 class="header center">{{ page_title }}</h2>
    <div class="form-card-parent">
        <div class="card horizontal form-card">
            <div class="card-stacked">
                <div class="card-content">
                    <div class="row">
                        <form class="col s12" method="POST" action="{{ url_for('edit_password', user_id=user._id )}}">
                            <div class="row">
                                <div class="input-field">
                                    <i class="material-icons prefix">lock_open</i>
                                    <input id="new_password" type="password" class="validate" name="new_password"
                                        pattern="^[a-zA-Z0-9]{3,20}$" required>
                                    <label for="new_password">Password</label>
                                </div>
                                <div class="card-action center">
                                    <button class="btn waves-effect waves-light submit-button" type="submit"
                                        name="sign_up">Edit Password
                                        <i class="material-icons right">send</i>
                                    </button>
                                    <a href="{{url_for('profile', username=session['user'])}}"
                                        class="waves-effect waves-light btn submit-button center">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br class="margin-bottom">
</div>
{% endblock %}