{% extends "base.html" %}
{% block content %}

<div class="hero-image index-image">
    <div ></div>
        <h1 class="hero-text">Eating the World</h1>
    </div>
<div>

<section>
    <div>
        <h2>...One meal at a time!</h2>
    </div>

    <div class="row">
        {% for recipy in recipes[:3] %}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ recipy.image_url }}">
                    <a class="btn-floating halfway-fab waves-effect waves-light red" href="/recipes/{{recipy.url}}"><i
                            class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <span class="card-title">
                        {{ recipy.recipy_name|title }}
                    </span>
                    <p>
                        Country: {{ recipy.country|title }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

</div>

{% endblock %}
{% block script %}
<script>$(document).ready(function () {
    $.getJSON("/api/recipes", function(data){
        console.log(data)
    })
    });
    </script>
{% endblock %}