{% extends "base.html" %}
{% block image %}
<!--Header Image-->
    <div class="hero-image index-image">
        <h1 class="hero-text">Eating the World</h1>
    </div>
{% endblock %}

{% block content %}
<!-- Catch Frase-->
    <section>
        <div>
            <h2 class="red-color">...One meal at a time!</h2>
        </div>
<!--Three aggregated recipes-->
        <div class="row">
            {% for recipe in recipes[:3] %}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ recipe.image_url }}" alt="Image of {{ recipe.recipe_name }} dish">
                        <a class="btn-floating halfway-fab waves-effect waves-light red"
                            href="/recipes/{{recipe.slug}}"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">
                            {{ recipe.recipe_name|title }}
                        </span>
                        <p>
                            Country: {{ recipe.country|title }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <hr class="index-hr">
<!--Week Menu Shuffle card-->
<div class="row">
    <div class="col center shuffle-card">
      <div class="card">
        <div class="card-content center">
          <span><h2 class="red-color shuffle-card-title">No Inspiration?</h2></span>
        </div>
        <div class="card-content">
            <p>Or too many choices to make a decision? Use the 
                <div><a href="{{url_for('week_menu_shuffle')}}" class="shuffle-card-link">Week menu Shuffle</a></div>
            to generate a weekly meal plan, for free! Get to know exciting foreign tastes and spice up quarantine life, or just relax your 
            overworked brain by letting the computer make the decision for you. </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}  
