{% extends "base.html" %}
{% block content %}

<hr class="margin-bottom">
<div class="container center">
    
      <div class="card">
        <div class="card-image">
          <img src="{{ recipy.image_url }}" alt="Image of the dish {{ recipy.name }}">
        </div>
        <div class="card-content">
            <h2 class="center">{{ recipy.recipy_name|title }}</h2>
            <p class="left">Country: {{ recipy.country|title }}</p>
            <br>
            <ul>
                <li>{{ recipy.ingredients }}</li>
            </ul>
            <p class="left">{{ recipy.description }}</p>
        </div>
        <div class="card-action">
          <a href="#">Return to recipes</a>
        </div>
      </div>
   
  </div>
            

{% endblock %}