{% extends "base.html" %}
{% block content %}

<div class="recipy-card">
        <div class="card">
            <div class="card-image">
                <img src="{{ recipy.image_url }}" alt="Image of the dish {{ recipy.name }}">
            </div>
            <div class="card-content">
                <h2 class="center">{{ recipy.recipy_name|title }}</h2>
                <p class="bold center">Country: {{ recipy.country|title }}</p>

            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a href="#ingredients">Ingredients</a></li>
                    <li class="tab"><a class="active" href="#description">Description</a></li>
                    <li class="tab"><a href="#basics">Basics</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="ingredients">
                    <h3 class="bold">Ingredients</h3>
                    <hr>
                    <ul class="left">
                        {% for ingredient in recipy.ingredients %}
                        <li>-{{ ingredient }}</li>
                        {% endfor %}
                    </ul>

                </div>
                <div id="description">
                    <h3 class="bold">Description</h3>
                    <hr>
                    <p class="left">{{ recipy.description }}</p>
                </div>
                <div id="basics">
                    <h3 class="bold">Basics</h3>
                    <hr>
                    <p class="left">Name: {{ recipy.recipy_name }}</p><br>
                    <p class="left">Prep time in minutes: {{ recipy.time }}</p><br>
                    <p class="left">Country: {{ recipy.country }}</p><br>
                    <hr>
                    <p class="left"><em>Created by: {{ recipy.created_by }}</em></p>
                    <br class="margin-bottom">
                    <div class="row edit-delete-card">
                            <div class="card transparent">
                                <div class="card-content white-text center">
                                    <a href="{{ url_for('edit_recipy', recipy_id=recipy._id) }}" class="waves-effect waves-light btn submit-button"><i class="material-icons left">create</i>Edit Recipy</a>
                                    <a href="" class="waves-effect waves-light btn submit-button"><i class="material-icons left">delete</i>Delete Recipy</a>
                                </div>
                        </div>
                    </div>
            </div>
            <h3 class="bold center enjoy">Enjoy!</h3>
            <div class="card-action center">
                <a href="{{ url_for('recipes') }}">Return to recipes</a>
            </div>
        </div>
    </div>

    </div>

{% endblock %}