{% extends "base.html" %}
<!--CSS for Countryselect-->
{% block link %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/css/countrySelect.css') }}">
{% endblock %}
<!--Header Image-->
{% block image %}
    <div class="hero-image shuffle-image">
        <h2 class="page-heading center">{{ page_title }}</h2>
    </div>
{% endblock %}
<!--Countryselect search field for week menu-->
{% block content %}
<div class="col s12 m7">
    <div class="shuffle-text center">
<p>Get seven random recipes to create a themed dinner menu for a week! Just choose a country and cook away. </p>
</div>
    <div class="form-card-parent">
        <div class="card horizontal form-card">
            <div class="card-stacked">
                <form class="card-content center" method="POST" action="{{url_for('week_menu_shuffle')}}">
                    <input type="text" id="country" name="country">
                    <button class="btn waves-effect waves-light submit-button" type="submit">Shuffle!
                        <i class="material-icons right">search</i></button>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--Scripts for Countryselect-->
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='build/js/countrySelect.js') }}"></script>
<script>
    $("#country").countrySelect();
  </script>
{% endblock %}